.appointment {
    display: flex;
    justify-content: space-between;
}

.tableHead {
    background-color: aquamarine;
}

.tableContainer {
    display: flex;
    padding-bottom: 5px;
    margin: 10px 10px 10px 10px;
    flex-direction: row;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.addDocBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.backBtnDoc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
}

.addGrowth {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.backBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}